/venv
/.idea

*.pth
*.pt
*.ckpt
*.log

# .gitignore 수정
__pycache__/
*.pyc
nohup.out
*.swp
.nfs*
tools/annotations/tsl/results/

__pycache__/
*.pyc
.ipynb_checkpoints/

__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.log
nohup.out
*.swp
*.swo
.nfs*
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/

tools/annotations/ve8/results/
*.tfevents.*
